body{
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 82.08%, rgba(227, 255, 248, 0.38) 100%);   
   min-height: 100vh;
}

.page {
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
    font-family: 'Mulish', sans-serif;
}

ul{
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
    color: #1F1534;
    opacity: 50%;
}

ul li a:hover{
    font-weight: bold;
    opacity: 100%;
}

h1{
    font-weight: normal;
    font-size: 49px;
    line-height: 56px;
    color: #1F1534;
    font-family: 'Mulish', sans-serif;
    width: 490px;
    margin-bottom: 40px;
}

h1 span{
    color: #89C5CC;
    font-weight: bold;
}

p{
    font-size: 14px;
    line-height: 28px;
    color:#7D7987;
    margin-bottom: 40px;
}

button{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    background-color: #69B99D;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 32px 15px 32px;
    color: #F9F9F9;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color:#569981 ;
}

footer{
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 80px;
}

footer a{
    font-weight: bold;
    color: #1F1534;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#balls {
    position: fixed;
    right: 0;
    bottom:0;
}